.headland-one-regular {
    font-family: "Headland One", serif;
    font-weight: 400;
    font-style: normal;
  }
  





.container {
}
.flex-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
}
.menu {
}
.button {
}

.main-left {
    width: 35%;
}
.text {
}
.arrow {
}
.caption {
}
.join-button {
    
}
.main-right {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.flex-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-4 {

    display: flex;
    justify-content: center;

   

}
.card {
    background-image: url(/img/Rectangle\ 20.png);
    background-size: cover ;
    background-repeat: no-repeat ;
    background-position: center center;
    padding-top: 39px;
    padding-bottom: 39px;
    }  
    
    
 


.button-treiler{
 
}

.invite{
    background-image: url(/img/Group\ 48\ 1\(1\).png);
    background-size: cover ;
    background-repeat: no-repeat ;
    background-position: center center;
    padding-top: 180px;
    padding-bottom: 180px;
    

}

.history{
    background-image: url(/img/Rectangle\ 86.png);
    background-size: cover ;
    background-repeat: no-repeat ;
    background-position: center center;
}

.container{
    width: 1050px;
    margin: 0 auto;
    padding: 0 15px;
}

.treiler{
    background-image: url(/img/Rectangle\ 10.png);
    background-size: cover ;
    background-repeat: no-repeat ;
    background-position: center center;
    padding-top: 355px;
    padding-bottom: 355px;
}

.header{
    background-image: url(img/Rectangle\ 104header.png);
    background-size: cover ;
    background-repeat: no-repeat ;
    background-position: center center;
    padding-top: 39px;
    padding-bottom: 39px;
}
    

.flex-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
   
}

p{
    
}

h2{
    text-align: center;
}
  

.cart{
    background-color: #FFFFFFB2 ;
    width: 320px;
    margin-bottom:  11px;

    
}

.card-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    list-style: none;
    padding: 0px;
}

.flex-22{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-23{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button{
    
}